<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

</head>

<body>
  <div class="container p-4">
    {{if .Message}}
    <div class="alert alert-primary {{if eq .IsError true}}alert-danger{{else}}alert-success{{end}}" role="alert">
      {{ .Message}}
    </div>
    {{end}}
    <div class="row text-center d-flex justify-content-center">
      <div class="col-5">
        <h2>Login</h2>
        <form method="post" action="/login">
          <input name="username" class="form-control" placeholder="Your Username" type="text"><br>
          <input name="password" class="form-control" placeholder="Your Password" type="password"><br>
          <button type="submit" class="btn btn-primary form-control">Login</button>
          <small>Don't have an account? Please <span><a href="/register">Register</a></span></small>
        </form>
      </div>
    </div>
  </div>
</body>

</html>